.container {
  position: relative;
  width: 1440px;
  height: 1024px;
  background: #ffffff;
  font-family: Open Sans;
  left: 164px;
  top: 100px;
}

h1 {
  width: 672px;
  height: 79px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 79px;
  color: #373a3c;
}

h2 {
  height: 24px;
  left: 169px;
  top: 236px;
  margin-right: 8px;
  font-family: Open Sans;
  font-weight: 100;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  color: #373a3c;
}

.button {
  width: 39px;
  height: 38px;
  left: 472px;
  top: 229px;
  margin-left: 10px;
  background: #0275d8;
  border: 1px solid #0275d8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #ffffff;
}

.userInput {
  width: 86px;
  height: 38px;
  left: 372px;
  top: 229px;
  margin-left: 8px;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 4px;
}

.Output {
  width: 86px;
  height: 38px;
  left: 372px;
  top: 229px;
  margin-left: 8px;
  margin-top: 4px;
  background: #ffffff;
  font-weight: 700;
}
